* {
  background: #f3f5fc;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

header span {
  margin-right: 12px;
  padding-bottom: 22px;
  margin-top: 24px;
  vertical-align: bottom;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo-alura {
  padding-top: 10px;
  margin-left: 100x;
  width: 10%;
}

.logo-redes {
  margin-right: 12px;
}

main {
  display: grid;
  margin: auto 2em;
  padding: 2px 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 1em;
}

.container-frase .frase {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin-left: 2em;
}

.frase {
  height: 450px;
  border: none;
  color: #0a3871;
  margin-top: 30px;
  padding: 12px;
  text-transform: lowercase;
  resize: none;
}

::placeholder {
  color: #0a3871;
  text-transform: none;
  font-family: "Raleway", sans-serif;
}

.frase:focus {
  outline: none;
}

.restriccion {
  color: #495057;
  font-size: 18px;
  font-weight: 500;
}

.acciones {
  display: flex;
  width: auto;
  height: auto;
}

/* TODO TERMINAR LA ALERTA PERSONALIZADA */

.frase-encriptada {
  height: 530px;
  background: white;
  background-image: url("https://i.postimg.cc/KjVX56Pd/Figura-Observar-Alura.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  margin-left: 98px;
  margin-top: 10px;
  padding-left: 20px;
  position: absolute;
  resize: none;
}

.mensajes-informativo {
  position: absolute;
  bottom: 110px;
  color: #0a3871;
  margin-left: 275px;
  background-color: rgba(0, 0, 0, 0);
  width: 15%;
}

.mensaje-uno {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.mensaje-dos {
  font-size: 14px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}
/* 
section {
  display: inline-block;
  width: 40%;
} */

.accion-encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 60px;
  width: 300px;
  font-size: 20px;
  transition: 0.5s all;
}

.accion-encriptar:hover {
  border: 5px solid #f3f5fc;
  font-size: 24px;
}

.accion-desencriptar {
  background-color: rgba(0, 0, 0, 10%);
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 60px;
  margin-left: 30px;
  width: 300px;
  font-size: 20px;
  transition: 0.5s all;
}

.accion-desencriptar:hover {
  border: 5px solid #f3f5fc;
  font-size: 24px;
}

.copiar {
/*   display: none; */
  background-color: white;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 60px;
  margin-left: 100px;
  margin-top: 490px;
  position: absolute;
  width: 300px;
  font-size: 20px;
  transition: 0.5s all;
}

.copiar:hover {
  border: 5px solid #f3f5fc;
  font-size: 24px;
}

/* Footer Styles */
footer {
  margin-top: 1em;
  text-align: center;
  padding: 40px;
  color: #0a3871;
}

.copyright {
  font-size: 15px;
  margin: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.contenido {
  background-color: white;
  color: #0a3871;
  width: 300px;
  margin: 200px auto;
  padding: 20px;
  text-align: center;
  border: 2px radius black;
  border-radius: 24px;
}

.cerrar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

@media screen and (max-width: 480px) {
 

  .logo-alura{
    float: right;
    width: 100%;
    padding: 10px;
  }
 
  p {
    font-size: 14px;
  }

  .secret,.mensajes-informativo, .logo-linkedin, .logo-github, .copyright {
    display: none;
  }
  
  textarea{
    float: left;
  }

  .frase {
    width: 40%;
    margin: 0px 0px 0px 0px;
    padding: 0;

  }

  .frase-encriptada {
    width: 50%;
    margin: 0px;
    padding: 0;
  }

  main {
    margin: 0px;
    padding: 0px;
  }

 main, section, div {
    width: auto;
  }
  body, header, main, footer, section, div, .frase-encriptada{
    display: grid;
    margin: auto;
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
  }
  
  .restriccion {
    margin: 12px 0px;
  }
  .acciones {
    width: 50%;
    margin: 0px;
    padding: 0px;
  }

  .accion-encriptar{
    margin-left: 48px;
  }

  .frase-encriptada {
    margin: 0px;
    padding: 0px;
  }

  .accion-copiar{
    margin: 0 0 0 75px;
    padding: 0px;
  }

  .copiar {
    margin: 10px 0;
    width: 150px;
  } 

  .test{
    margin: 0;
  }

  .modal{

  }
  .contenido{
    width: 170px;
    height: 250px;
    margin: 500px 0px 0 150px;
  }

}

/* @media screen and (min-width: 1550px)  */
@media screen and (min-width: 481px) and (max-width: 1080px){
  .restriccion, .mensajes-informativo {
    display: none;
  }
}

@media screen and (min-width: 1550px) {
  .restriccion, .mensajes-informativo {
    display: none;
  }
}